# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Data files
*.csv
*.parquet
*.db

# Logs
*.log# Temporary project archives
*.zip
